.header {
    grid-area: header;
    background-color: #20232a;
    padding: 5px 0;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.img-logo {
    height: 30px;
}
