.footer {
    background-color: #20232a;
    grid-area: footer;
}
.footer-menu{
    padding: 20px 0;
    display: flex;
}
.footer-menu a:hover{
    color: #61dafb;
}
.left-block{
    width: calc(33.3333%);
}
.right-block{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: calc(100% / 3 * 2);
}
.wrapper-link{
    display: flex;
    width: 50%;
    padding-top: 20px;
}
.link-block{
    width: 50%;
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
}
.link-block .label-link{
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;
}
.link-block a{
    line-height: 2;
    text-decoration: none;
    color: white;
}
