* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(40, 44, 52);
}
.img{
  max-width: 100%;
}
.wrapper{
  width: 800px;
  margin: 0 auto;
  height: 100%;
}
.app-wrapper{
  background-color: white;
  display: grid;
  grid-template-areas: 
  "header"
  "wrap-content"
  "footer";
  grid-template-rows: 60px 1fr 100%;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; */
}
.content-wrapper {
  grid-area: wrap-content;
  display: grid;
  grid-template-areas: "nav content";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
}
.content-wrapper__content{
  grid-area: content;
}
.link{
  text-decoration: none;
}
.button{
  position: relative;
  font-family: BlenderProBold,sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: #cdcdcd;
  padding: 0 16px;
  outline: none;
  cursor: pointer;
  height: 55px;
  width: 153px;
  box-sizing: border-box;
  border: 2px solid #cdcdcd;
}
